<nav class="navbar navbar-expand-lg fixed-top mx-auto">
  <div
    class="container-fluid d-flex align-items-center justify-content-between"
  >
    <a class="navbar-brand d-flex align-items-center">NK</a>

    <div
      class="collapse navbar-collapse justify-content-center"
      [ngClass]="{ show: isMenuOpen }"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="scrollToSection('home')"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="scrollToSection('about')"
            routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="scrollToSection('services')"
            routerLinkActive="active"
            >Service</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="scrollToSection('contact')"
            routerLinkActive="active"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <button
        id="darkModeToggle"
        class="btn btn-outline-secondary btn-sm me-2"
        (click)="toggleDarkMode()"
      >
        <i
          id="darkModeIcon"
          class="fas"
          [ngClass]="isDarkMode ? 'fa-sun' : 'fa-moon'"
        ></i>
      </button>

      <!-- Hamburger Menu Button -->
      <button
        class="navbar-toggler"
        type="button"
        (click)="toggleMenu()"
        aria-controls="navbarNavDropdown"
        [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
