<section id="projects" class="projects-section">
  <div class="container">
    <h1 class="section-title">My Projects</h1>
    <div class="projects-grid">
      <div class="project-card">
        <img
          src="../../assets/images/studentform.png"
          alt="Admin Dashboard - Angular and Bootstrap"
          class="project-img"
        />
        <div class="project-content">
          <h2>Student Form</h2>
          <p>
            The Student Form is a dynamic web application developed using
            Angular and Node.js.
          </p>
          <a
            href="https://github.com/nangkyawt/student_entry_form"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            View on GitHub
          </a>
        </div>
      </div>
      <div class="project-card">
        <img
          src="../../assets/images/admindashboard.png"
          alt="Admin Dashboard - Angular and Bootstrap"
          class="project-img"
        />
        <div class="project-content">
          <h2>Admin Dashboard</h2>
          <p>
            A powerful admin interface for managing user data, analytics, and
            reporting, developed with Angular and Bootstrap.
          </p>
          <a
            href="https://github.com/nangkyawt/admin_dashboard"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            View on GitHub
          </a>
        </div>
      </div>
      <div class="project-card">
        <img
          src="../../assets/images/halloween.png"
          alt="Halloween-Themed Webpage"
          class="project-img"
        />
        <div class="project-content">
          <h2>Halloween</h2>
          <p>
            A creatively designed Halloween-themed web page with interactive
            animations and engaging user interfaces.
          </p>
          <a
            href="https://github.com/nangkyawt/halloween"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            View on GitHub
          </a>
        </div>
      </div>
      <div class="project-card">
        <img
          src="../../assets/images/menu.png"
          alt="Cafe Menu System"
          class="project-img"
        />
        <div class="project-content">
          <h2>Cafe</h2>
          <p>
            A responsive cafe menu system offering intuitive navigation and
            seamless user experience for food ordering.
          </p>
          <a
            href="https://menu-eight-delta.vercel.app/home"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            View on GitHub
          </a>
        </div>
      </div>

      <div class="project-card">
        <img
          src="../../assets/images/movie.png"
          alt="Movie Show App"
          class="project-img"
        />
        <div class="project-content">
          <h2>Movie Show</h2>
          <p>
            A movie exploration app powered by the TMDb API, showcasing details,
            cast information, and trailers.
          </p>
          <a
            href="https://github.com/nangkyawt/movie_project"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary"
          >
            View on GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
