<app-navbar></app-navbar>
<section class="hero d-flex align-items-center" id="hero">
  <div class="container text-center text-md-left">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h1>
          Hello, I'm
          <span class="highlight animated-text">Nang Kyawt Hsu Hlaing</span>
        </h1>
        <p>
          A passionate MEAN stack developer dedicated to creating beautiful and
          functional digital experiences.
        </p>
        <div class="mt-4">
          <a href="#portfolio" class="btn btn-primary btn-lg me-2"
            >View Portfolio</a
          >
          <a href="#contact" class="btn btn-outline-primary btn-lg"
            >Contact Me</a
          >
        </div>
      </div>

      <div class="col-md-6">
        <img
          src="../../../../assets/images/codinggirl.png"
          alt="Hero Illustration"
          class="img-fluid rounded-circle"
        />
      </div>
    </div>
  </div>
</section>
