#preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  #6439ff; /* Light gray background */
  z-index: 9999;
}

#preloader.hidden {
  opacity: 0;
  pointer-events: none;
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-top: 4px solid #6439ff;
  border-radius: 50%;
  animation: spin 1s linear infinite ease-in-out;
}

.loader::after {
  content: '';
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background:  #6439ff;
  border-radius: 50%;
  animation: bounce 0.5s alternate infinite;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.circle {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid  #6439ff; /* Blue spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}
@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-10px);
  }
}