<section id="services" class="services-section">
  <h1>My Services</h1>
  <div class="services-container">
    <div class="service-item">
      <img
        src="../../../../assets/images/code.png"
        alt="Web Development Icon"
      />
      <h2>Web Development</h2>
      <p>
        I build responsive and modern websites tailored to your needs. Using
        technologies like HTML, CSS, JavaScript, Angular, and Node.js.
      </p>
    </div>
    <div class="service-item">
      <img src="../../../../assets/images/ui (1).png" alt="UI/UX Design Icon" />
      <h2>UI/UX Design</h2>
      <p>
        Crafting intuitive and visually appealing designs that align with your
        brand identity. My focus is on delivering seamless and engaging user
        experiences.
      </p>
    </div>
    <div class="service-item">
      <img src="../../../../assets/images/api.png" alt="API Integration Icon" />
      <h2>API Integration</h2>
      <p>
        Integrating robust APIs to enhance your application’s functionality and
        ensuring smooth communication between different systems.
      </p>
    </div>
  </div>
</section>
