<section id="about" class="aboutme-section">
  <div class="about-content">
    <div class="about-image">
      <img
        src=".././../../../assets/images/newmyphoto.png"
        alt="Professional Photo of Nang Kyawt Hsu Hlaing"
      />
    </div>
    <div class="about-text">
      <h1>About Me</h1>
      <p>
        Hello! I’m <strong class="black-text">Nang Kyawt Hsu Hlaing</strong>, a
        dedicated <strong>Junior MEAN Stack Developer</strong> passionate about
        creating efficient and user-friendly web applications. My expertise lies
        in Angular, Bootstrap, and crafting seamless UI/UX designs.
      </p>
      <p>
        I have hands-on experience developing dynamic applications, including a
        Student Form App during my internship. I thrive on solving problems,
        learning new technologies, and transforming ideas into functional
        digital solutions.
      </p>
      <p>
        Beyond coding, I enjoy sketching UI/UX designs, exploring new tech
        trends, and building innovative projects like a movie-detailing app
        using The Movie Database API.
      </p>
      <p>
        Let’s connect! Feel free to
        <a href="#" class="portfolio-link">check out my portfolio</a> or
        <a href="mailto:youremail@example.com" class="portfolio-link"
          >get in touch</a
        >.
      </p>
    </div>
  </div>
</section>
