<!-- About Me Section -->
<section id="about" class="aboutme-section">
  <div class="about-card">
    <h3>About Me</h3>
    <p>
      Hi! I'm <strong>Nang Kyawt Hsu Hlaing</strong>, a passionate Junior MEAN
      Stack Developer with a knack for building efficient, scalable, and
      user-friendly applications. I specialize in Angular, bootstrap, and
      creating seamless user interfaces.
    </p>
    <!-- <p>
      During my internship at Myanmar Information Technology, I gained hands-on
      experience designing and implementing web applications. One of my proudest
      achievements was developing a Student Form app using Angular for the
      frontend and Node.js and PostgresSQL.
    </p> -->
    <p>
      When I’m not coding, you can find me sketching UI/UX designs, exploring
      new tech tools, or developing a movie-detailing app using The Movie
      Database API. These activities fuel my creativity and problem-solving
      mindset.
    </p>
    <p>
      I’m always looking for opportunities to learn and grow. Feel free to check
      out my <a href="#" class="portfolio-link">portfolio</a> or get in touch!
    </p>
  </div>
  <div class="about-image">
    <img src=".././../../../assets/images/search.png" alt="About Me Image" />
  </div>
</section>
