<div class="contact" id="contact">
  <div class="background">
    <div class="footerContainer">
      <div class="socialicons">
        <h1>Contact Me</h1>
        <br />
        <div class="social-icons-container mb-3">
          <a
            target="_blank"
            href="https://www.facebook.com/nann.k.hlaing.5?mibextid=kFxxJD"
          >
            <img
              src="../.././../../assets/images/facebook (1).png"
              alt="Facebook"
              width="50"
              height="50"
            />
          </a>

          <a
            target="_blank"
            href="https://www.instagram.com/arr_meee/profilecard/?igsh=MWllbmhidWtuMGFxNw=="
          >
            <img
              src="../.././../../assets/images/instagram.png"
              alt="Instagram"
              width="50"
              height="50"
            />
          </a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/nangkyawthsuhlaing/"
          >
            <img
              src="../.././../../assets/images/linkedin.png"
              alt="github"
              width="50"
              height="50"
            />
          </a>
          <a target="_blank" href="https://github.com/nangkyawt">
            <img
              src="../.././../../assets/images/github.png"
              alt="github"
              width="50"
              height="50"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
