/* Contact Section */
.contact-section {
  padding: 60px 20px;
  background: #6c63ff;
}

.contact-description {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; 
  max-width: 1200px;
  margin: 0 auto;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

textarea {
  resize: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #6c63ff;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.btn-submit {
  display: inline-block;
  background: #6c63ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-submit:hover {
  background: #5347d9;
}

/* Image Section */
.contact-image {
  flex: 1;
  min-width: 300px;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  width: 100%;
  max-width: 500px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column; 
    gap: 20px;
  }

  .contact-form,
  .contact-image {
    max-width: 100%; 
  }
}

.socialicons i{
    font-size:30px;
   
}
.background{
    background-color: #5d56f4;
}

h1{
    color: black;
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;

}
h2{
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: center;
    color: rgb(202, 188, 188) ;
    margin-top: 10px;
}

h2:hover {
  color: #fcf9f6;
  transform: translateY(-5px);

}

/* p{
  color:black;
} */

.social-icons-container {
    display: flex;
    justify-content: center;
  margin-bottom: 3px;
  }
  
  .social-icons-container a:hover {
    display: flex;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: translateY(-5px);
  
  }
.social-icons-container a {
    margin-right: 10px;
    color:rgb(202, 188, 188) ;
    margin-bottom: 10px;
  }